<div>{{fbAppID}}</div>
<div ng-show="currentApp.appID">
    
    <div class="fbtComponent fbtFBAppHeader">        
        <h2>{{currentApp.appName}}</h2>
        <h6>ID: {{currentApp.appID}}</h6>

        <button class="fbtCTAButton" ng-click="editFBApp()">Edit</button>
        <button class="fbtCTAButton" ng-click="deleteFBApp()">Remove</button>
        <button class="fbtCTAButton" ng-click="visitFBApp()">View on Facebook</button>    
    </div>
    
    <div test-user-list app-token="{{currentApp.appToken}}" app-id="{{currentApp.appID}}"></div>

    <button ng-click="createTestUser()">Create New Test User</button>    

</div>

