<div>{{fbAppID}}</div>
<div class="fbtComponent"> 
    <h3>Test Users</h3>
    <div ng-repeat="testUser in testUsers" class="testUserListing">
        <h5>{{testUser.user.name}} ({{testUser.id}})</h5>

        <button ng-click="openProfilePage('https://www.facebook.com/profile.php?id=' + testUser.user.id)">Profile Page</button>
        <button ng-click="loginAsUser(testUser.login_url)">Login as {{testUser.user.first_name}}</button> 
        <button ng-click="deleteTestUser(testUser.id, currentApp.appToken)">Delete</button> 
    </div>

    <div class="fbtNotice" ng-show="testUsers.length < 1">No test users.</div>
</div>
